* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    text-align: center;
}
.container h1 {
    color: rgb(34, 34, 222);
    text-decoration: underline;
    height: 80px;
}
.box {
    background-color: #2060c1;
}
.navbar {
    width: 100%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    border-bottom: #2060c1;
}
.navbar img {
    height: 45px;
    width: 45px;
}
.navbar ul {
    text-align: center;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: auto;
}
.navbar ul li a {
    text-decoration: none;
}
.HomePage{
    display:flex;
}
.foodPic img{
      width: 490px;
      height: 400px;
}
.para{
    margin-top: 100px;
}
.para p{
    margin-top: 19px;
}
.quote{
    color: rgb(26, 68, 160);
}
.containerService{
    background-image: url('logo.jpg');
}
.bg{
    height: 30%;
    width: 100%;
}
.bg img{
    height: 30%;
    width: 100%;
}

.pageInfo{
    background-color: rgb(1, 50, 50);
    width: 100%;
}
.pageInfo h2{
    text-align: left;
    color:white;
    background-color: rgb(2, 9, 7);
    margin-bottom: 45px;
}
.pageInfo div{
    text-align: left;
    color: #d4d8dd;
    margin-top: 45px;
}
.bg{
    text-align: center;
}

